body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 120vh;
    background-color: #f0f0f0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 25px 150px auto;
    gap: 10px;
    width: 120%;
    max-width: 1400px;
    margin: 50px 100px;
}
.grid-item {
    padding: 10px;
    color: white;
    text-align: center;
}
.item1 { 
    border-bottom: 2px solid #D3D3D3;
    display: flex;
    color: #000;
    grid-column: span 7;
    align-items: center;
    padding-bottom: 20px;
 }
.item2 { 
    border-right: 2px solid #D3D3D3;
    color:#000;
    grid-column: span 3;
    grid-row: span 24;
}

.item2 .logo {
    width: 400px; 
    height: 200px; 
    overflow: hidden;
    align-self: center; 
}

.item3 {
    margin: 10px 10px;
    color: #000;
    grid-column: span 4;
    grid-row: span 10;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
input {
    width: 60%;
    padding: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

.item3 .Recovery .Submit {
    background-color: white; 
    border: 2px solid #007BFF; 
    color: #007BFF; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 12px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

.item3 .Recovery .Submit:hover {
    background-color: #007BFF;
    border: 2px solid white; 
    color: white;
}

.item3 .Recovery .Cancel {
    background-color: white; 
    border: 2px solid #ce2424; 
    color: #ce2424; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 12px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

.item3 .Recovery .Cancel:hover {
    background-color: #ce2424;
    border: 2px solid white; 
    color: white;
}

a {
    margin-top: 20px;
    text-decoration: none;
}

.wrapper {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    max-width: 1450px;
    max-height: 750px;
    margin: 50px 50px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}